@charset "ISO-8859-1";
body {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    width: 250px;
    height: auto;
}

#menu-bar {
    text-align: center;
    background-color: cadetblue;
}

#menu-bar li {
    display: inline-block;
    padding: 15px 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

li button {
    background: none;
    border: thin;
    cursor: pointer;
}

h1 {
    color: rgb(49, 49, 49);
    margin-top: 40px;
    text-align: center;
    font-size: 32px;
}

.input-group {
    margin: 50px 0px;
}

#dynamic-list {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

#list {
    position: relative;
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #fff;
}

