

<!doctype html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Property Dealer</title>

<link rel="stylesheet" href="css/style.css" />


</head>

<body>


	<!--   <div class="header">
        <img src="logo.png" alt="img" id="logo" />
    </div>
    <nav id="menu-bar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="add.html"></a>
                <button type="button">Add</button>
            </li>
            <li><a href="delete.html"></a>
                <button type="button">Delete</button>
            </li>
        </ul>
    </nav>  -->

	<div class="container">
	<ul id="dynamic-list">
	
	</ul>
	</div>

	<script type="text/javascript" src="js/script.js">
		
	</script>



</body>

</html>